<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layouts/login"
        >
  <head>

  </head>
  <body>


  <div class="col-md-6 login-container bs-reset" layout:fragment="login-content">
    <img class="login-logo login-6" src="../../../../../common/src/main/resources/static/static/assets/pages/img/login/login-invert.png"
         th:src="@{/static/assets/pages/img/login/login-invert.png}"
    />
    <div class="login-content">
      <h1>Connexion Starter</h1>
      <p> Bienvenu, sur l'espace d'administration de Starter </p>
      <form  action="/login" class="login-form" method="post">
        <div class="alert alert-danger" th:classappend="${param.error == null}?'display-hide'">
          <button class="close" data-close="alert"></button>
          <span>Entrer un login et un mot de passe valide. </span>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" th:placeholder="#{login.placeholder.username}" th:value="${username}" name="username" required="required"/> </div>
          <div class="col-xs-6">
            <input class="form-control form-control-solid placeholder-no-fix form-group" type="password" autocomplete="off" th:placeholder="#{login.placeholder.password}" name="password" required="required"/> </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <label class="rememberme mt-checkbox mt-checkbox-outline">
              <input type="checkbox" name="remember-me" value="1" /> Remember me
              <span></span>
            </label>
          </div>
          <div class="col-sm-8 text-right">
            <div class="forgot-password">
              <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
            </div>
            <button class="btn blue" type="submit" th:text="#{login.login.btn}">Sign In</button>
          </div>
        </div>
      </form>
      <!-- BEGIN FORGOT PASSWORD FORM -->
      <form class="forget-form" action="javascript:;" method="post">
        <h3>Forgot Password ?</h3>
        <p> Enter your e-mail address below to reset your password. </p>
        <div class="form-group">
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
        <div class="form-actions">
          <button type="button" id="back-btn" class="btn blue btn-outline">Back</button>
          <button type="submit" class="btn blue uppercase pull-right">Submit</button>
        </div>
      </form>
      <!-- END FORGOT PASSWORD FORM -->
    </div>
    <div class="login-footer">
      <div class="row bs-reset">
        <div class="col-xs-5 bs-reset">
          <ul class="login-social">
            <li>
              <a href="javascript:;">
                <i class="icon-social-facebook"></i>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="icon-social-twitter"></i>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="icon-social-dribbble"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-7 bs-reset">
          <div class="login-copyright text-right">
            <p>Copyright &copy; Keenthemes 2015</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
