<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layouts/notLoggued"
        >
<head>

</head>
<body>


<div layout:fragment="content">
        contenu non loggué

        <a sec:authorize="hasRole('ROLE_A')" th:href="@{/a}">
                A
        </a>

        <a sec:authorize="hasRole('ROLE_B')" th:href="@{/b}">
                B
        </a>

</div>

</body>
</html>
