// USER LOGIN 5
@import "../../../theme/global/components-md";
@import '../../../theme/pages/login-5';


@function offsetPinpad($number) {
  @return - $number * 46px;
}

.login-container {
  background-color: #ffffff;
}

.pinpad {
  height: 46px;
  width: 46px;
  margin-left: auto;
  margin-right: auto;
}

.pinpad- {
  &0 {
    background-position-y: offsetPinpad(0);
  }
  &1 {
    background-position-y: offsetPinpad(1);
  }
  &2 {
    background-position-y: offsetPinpad(2);
  }
  &3 {
    background-position-y: offsetPinpad(3);
  }
  &4 {
    background-position-y: offsetPinpad(4);
  }
  &5 {
    background-position-y: offsetPinpad(5);
  }
  &6 {
    background-position-y: offsetPinpad(6);
  }
  &7 {
    background-position-y: offsetPinpad(7);
  }
  &8 {
    background-position-y: offsetPinpad(8);
  }
  &9 {
    background-position-y: offsetPinpad(9);
  }
}
